@model MyPlace.ViewModels.EditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>EditViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
              
                <input asp-for="Id" class="form-control" type="hidden" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isPublic" /> @Html.DisplayNameFor(model => model.isPublic)
                    </label>
                </div>
            </div>
            <div class="form-group">
              
                <input asp-for="ImageUrl" class="form-control" type="hidden" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="DateCreated" class="form-control" type="hidden" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
             
                <input asp-for="UserId" class="form-control" type="hidden" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-userId="@Model.UserId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
